* {
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    background: #E5E5E5;
    background-image: url(img1.png);
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40PX;

}

.formulario_titulo{
    width: 60%;
    margin: 0 auto;
    background-image: url(/img1.png)no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    padding: 30px 33px 67px;
    border-top: 6px solid #000;
    background-color: darkgrey;
}
/* .formulario {
    display: grid;
    esto es para tener dos columnas 
    grid-template-columns: 1fr 1fr;
     es el espacio 
    gap: 20px;
} */

.formulario_label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario_grupo-input {
    position: relative;
}

.formulario_input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;

}

.formulario_input:focus {
    border:  3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0);
}

.formulario_error {
    font-size: 12px ;
    margin-bottom: 0;
    display: none;
}
 /* esto es un activador cuando haya un error en el formulario salga
 el texto como deberia de ser */
.formulario_error-activo {
    display: block;
}

.formulario_estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size:  16px;
    /* la opacidad  es para que la x no se muestre al menos que tengamos un error */
    opacity: 0;
}

.formulario_mensaje_error,
.formulario_grupo-btn-enviar {
    /* estamos haciendo, es que este elemento a barque dos columnas */
	grid-column: span 2;
}

.formulario_mensaje_error {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje_error-activo {
	display: block;
}

.formulario_mensaje_error p {
	margin: 0;
}

.formulario_grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
}

.formulario_btn:hover {
    background: red;
}


.formulario_mensaje-exitoso {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exitoso-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}

